#about_info {
  width: 85%;
  margin-bottom: 30px;
}
.dropdown_aboutpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner_about_background {
  object-fit: cover;
  filter: contrast(70%);
  margin-bottom: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.about_info_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f7f7f7;
  border-radius: 5px;
  background-color: #ff6060;
  padding: 5px;
  padding-left: 15px;
}
.about_info_text {
  border-radius: 5px;
  background-color: #f7f7f7;
  color: #ff6060;
  padding: 15px;
  padding-bottom: 40px;
  margin: 0;
}
