h2 {
  color: white;
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  padding-left: 10px;
}
.cards {
  position: relative;
}
.cards > img {
  filter: brightness(80%);
  width: 335px;
  height: 230px;
  border-radius: 10px;
}
