.titre_logement {
  color: #ff6060;
  font-size: 18px;
}
span {
  color: #ff6060;
}
.location_logement {
  color: #ff6060;
}

.host {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.host_profile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.host_logement_name {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.description {
  background-color: #ff6060;
  color: white;
  height: 30px;
  border-radius: 5px;
  padding-left: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.equipements {
  background-color: #ff6060;
  color: white;
  height: 30px;
  border-radius: 5px;
  padding-left: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rating {
  width: 170px;
  display: flex;
  position: absolute;
  bottom: 344px;
}
.rating__icon {
  font-size: 16px;
}
.logement_info_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f7f7f7;
  border-radius: 5px;
  background-color: #ff6060;
  padding: 5px;
  margin-bottom: 20px;
}
.logement_info_text {
  background-color: #f7f7f7;
  color: #ff6060;
  padding: 5px;
}
/* Écrans de type ordinateur */
@media screen and (min-width: 768px) {
  .ficheLogement {
    height: 150px;
  }
  .host {
    height: 170px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .host_profile {
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 613px;
    right: 13px;
  }
  .host_logement_name { 
    display: flex;
    align-items: center;
    height: 90px;
    width: 130px;
  }
  .rating {
    position: absolute;
    right: 13px;
    top: 713px;
  }
  .logement_info_text {
    line-height: 23px;
  }
}
