.titre_logement {
  color: #ff6060;
  font-size: 18px;
}
span {
  color: #ff6060;
}
.location_logement {
  color: #ff6060;
}

.host {
  border: solid 2px blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.host_profile {
  border: solid 2px green;
  width: 50%;
  
  display: flex;
  
}
.host_logement_name {
  display: flex;
  align-items: center;
  padding-right: 15px;
  font-size: 16px;
}
.host_logement_img {
  border-radius: 50%;
  
  width: 60px;
  height: 60px;
}
.description {
  background-color: #ff6060;
  color: white;
  height: 30px;
  border-radius: 5px;
  padding-left: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.equipements {
  background-color: #ff6060;
  color: white;
  height: 30px;
  border-radius: 5px;
  padding-left: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dropdown {
  background-color: #f7f7f7;
  color: #ff6060;
}
