/* Écrans de type mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
  #carouselSlider {
    position: relative;
  }
  .carousel_img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .fa-chevron-left {
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    left: 10px;
    top: 120px;
  }
  .fa-chevron-right {
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 120px;
  }
  .carousel_img_number {
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
}
}
/* Écrans de type ordinateur */
@media screen and (min-width: 768px) {
  #carouselSlider {
    position: relative;
  }
  .carousel_img {
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
  }
  .fa-chevron-left {
    color: #ffffff;
    font-size: 50px;
    position: absolute;
    left: 10px;
    top: 218px;
  }
  .fa-chevron-right {
    color: #ffffff;
    font-size: 50px;
    position: absolute;
    right: 10px;
    top: 218px;
  }
  .carousel_img_number {
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 40px;
}
}
