* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

// Écrans de type mobile
@media screen and (max-width: 767px) {
  .cards {
    width: 335px;
    height: 255px;
    h2 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .HebergementsLink {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
// Écrans de type ordinateur
@media screen and (min-width: 768px) {
  .cards {
    width: 340px;
    height: 340px;
    h2 {
      position: absolute;
      top: 166px;
    }

  }
  #Hebergements {
   position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
}
