* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

/* Écrans de type mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
  h2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .banner {
    position: relative;
    width: 100%;
  }
  .banner_fig_img {
    object-fit: cover;
    border: solid 1px blue;
    border-radius: 10px;
    width: 100%;
    height: 110px;
  }
  .Banner_text_p {
    position: absolute;
    display: block;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    width: 186px;
    height: 55px;
    font-size: 20px;
    left: 117px;
    top: 130px;
  }
  .about_background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .banner_about_background {
    width: 100%;
    height: 240px;
  }
  .HebergementsLink {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .host_logement_name {
    font-size: 14px;
  }
  .host_logement_img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }
  .cards {
    width: 335px;
    height: 255px;
  }
}

/* Écrans de type ordinateur */
@media screen and (min-width: 768px) {
  #Hebergements {
    background-color: #F6F6F6;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .HebergementsLink {
    margin: 50px,86px,50px,86px;
  }
  .banner {
    position: relative;
  }
  .banner_fig_img {
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
  }
  .Banner_text_p {
    position: absolute;
    text-align: center;
    color: white;
    width: 600px;
    height: 48px;
    font-size: 35px;
    top: 180px;
    right: 400px;
  }
  .banner_about_background {
    width: 100%;
    height: 350px;
  }
  .host_logement_name {
    font-size: 20px;
  }
  .host_logement_img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  .tag_text {
    width: 160px;
    height: 40px;
  }
  .cards {
     
    margin: 20px;
  }
}
