.Banner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Banner_fig_img {
    position: relative;
    width: 100%;
    height: 110px;
}
.Banner_text_p {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;;
    width: 600px;
    height: 48px;
    font-size: 37px;
    top: 164px;
    right: 244px;
}